<div class="timeline_content">
  <div class="timeline_header">
    <span><%= link_to "勉強時間を記録", new_timepost_path %></span>
    <span><%= link_to "カウントダウン", new_countdown_path %></span>
    <span><%= link_to "1週間の勉強時間", new_studytime_path %></span>
  </div>
  <div class="timeline_container">
  <h2>タイムライン</h2>
  <ul>
    <% @timeposts.each do |timepost| %>
      <li>
      <div class="timeline_box">
        <div class="timeline_left">
          <% if timepost.user.image? %>
            <%= link_to "/users/#{timepost.user_id}" do %>
              <%= image_tag timepost.user.image.url,class: "timeline_user" %>
            <% end %>
          <% else %>
            <%= link_to "/users/#{timepost.user_id}" do %>
              <%= image_tag '/default.png' ,class:"timeline_user"%>
            <% end %>
          <% end %>
          <p><%= link_to "#{timepost.user.name}", "/users/#{timepost.user_id}" %></p>
          <span class="timepost_creat_time"><%= time_ago_in_words(timepost.created_at) %>前</span>
          <% if user_signed_in? %>
            <%if current_user.id == timepost.user.id %>
            <div class="edit_inner">
              <a class="click_button"><span>⚫︎</span><span>⚫︎</span></a>
              <div class="edit_list">
                <p><%= link_to "投稿編集", "/timeposts/#{timepost.id}/edit"%></p>
                <p><%= button_to "投稿削除", "/timeposts/#{timepost.id}", method: :delete,data: { confirm: "本当に削除しますか?" } %></p>
              </div>
            </div>
            <% end %>
            <% end %>
        </div>
          <div class="right_container">
            <% if !timepost.content.empty? %>
              <div class="right_content">
                <p><%= timepost.content %></p>
              </div>
            <% end %>
            <div class="timeline_right">
              <p class="timeline_img">
              <% if timepost.img %>
                <%= image_tag timepost.img %> 
              <% end %>
              </p>
              <p><i class="fas fa-book-open fa-lg"></i><span><%= timepost.subjects%></span></p>
              <p>
                <i class="fas fa-history fa-lg"></i>
                <% if timepost.time != 0 %>
                  <strong><%= timepost.time%></strong><small>時間</small><strong><%= timepost.minitus%></strong><small>分</small>
                <% else %>
                  <strong><%= timepost.minitus%></strong><small>分</small>
                <% end %>
              </p>
            </div>
            <div class="timeline_like_comment">
            <% @comment_count = Comment.where(timepost_id: timepost.id).count %>
            <%= render "time_likes/like_button" ,timepost: timepost%>
            <button class="comment_button"><i class="fas fa-comment-alt comment_Included">コメント(<%= @comment_count %>)</i></button>
            </div>
            <%= render "comments/comment_list" ,timepost: timepost%>
          </div>
      </div>
      </li>
    <% end %>
  </ul>
  </div>
</div>
<script>
$(function () {
    $('.comment_button').on('click', () => {
        $('.comment_list').fadeToggle('slow');
    });
});
</script>
<script>
$(document).on('click', function(e) {
	// ２．クリックされた場所の判定
	if(!$(e.target).closest('.edit_list').length && !$(e.target).closest('.click_button').length){
		$('.edit_list').fadeOut();
	}else if($(e.target).closest('.click_button').length){
		// ３．ポップアップの表示状態の判定
		if($('.edit_list').is(':hidden')){
			$('.edit_list').fadeIn();
		}else{
			$('.edit_list').fadeOut();
		}
	}
});
</script>