<div class="edit_content">
  <div class="edit_container">
    <h2>基本情報の編集</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="edit_img_box">
        <% if @user.image? %>
            <%= image_tag @user.image.url,class: "icon_image" %>
        <% else %>
            <%= image_tag '/default.png',class: "icon_image"  %>
        <% end %>
        <button type="button">
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
        </button>
      </div>
      
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :職業 %>
        <%= f.select :occupation, [["未設定","未設定"],["高校1年生", "高校1年生"], ["高校2年生", "高校2年生"],["高校3年生","高校3年生"],["浪人生","浪人生"],["中学生","中学生"]] %>
      </div>

      <div class="field">
        <%= f.label :目標大学 %> 
        <%= f.select :target_school , [["未設定","未設定"],["北海道大学", "北海道大学"], ["東北大学", "東北大学"],["東京大学","東京大学"],["名古屋大学","名古屋大学"],["京都大学","京都大学"]] %>
      </div>

      <div class="field">
        <%= f.label :自己紹介 %>
        <%= f.text_area :comment, :class => 'edit_comment' %>
      </div>


      <div class="actions">
        <p><%= f.submit "アップデート" %></p>
        <p class="deletebutton"><%= button_to "ユーザー削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    <% end %>

    
  </div>
</div>

