<div class="sign_content">
<div class="sign_container">
<h2>新規登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <ul class="sign_ul">
      <li><%= f.text_field :name ,:placeholder => "Username"%></li>
      <li><%= f.email_field :email, autofocus: true, autocomplete: "email" ,:placeholder => "Email"%></li>
      <li><%= f.password_field :password, autocomplete: "new-password",:placeholder => "Password" %></li>
      <li><%= f.password_field :password_confirmation, autocomplete: "new-password" ,:placeholder => "password_confirmation"%></li>
    </ul>
    <%= f.submit "新規登録" ,:class => 'sign_submit'%>
<% end %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "login_guest" %>
</div>
</div>