<div class="comment_list">
    <% @comments = Comment.where(timepost_id: timepost.id)%>
    <% @comments.each do |comment|%>
    <div class="comment_each_box">
      <div class="comment_user_box">
         <% if timepost.user.image? %>
            <%= link_to "/users/#{timepost.user_id}" do %>
              <%= image_tag @user.image.url,class: "comment_user" %>
            <% end %>
          <% else %>
            <%= link_to "/users/#{timepost.user_id}" do %>
              <%= image_tag '/default.png' ,class:"comment_user"%>
            <% end %>
          <% end %>
          <p><%= link_to "#{comment.user.name}", "/users/#{comment.user_id}" %></p>
          <span><%= time_ago_in_words(comment.created_at) %>前</span>
          <% if user_signed_in? %>
            <%if current_user.id == comment.user.id %>
            <%= button_to "削除", "/timeposts/#{timepost.id}/comments/#{comment.id}", method: :delete,data: { confirm: "本当に削除しますか?" } %>
          <% end %>
          <% end %>
      </div>
      <div class="comment_content">
         <p><%= comment.text %></p>
      </div>
    </div>
    <% end %>
     <%= render "comments/comment_form" ,timepost: timepost%>
</div>