<% if @user.image? %>
      <%= image_tag @user.image.url,class: "icon_image" %>
   <% else %>
      <%= image_tag '/default.png' %>
   <% end %>
<p>ユーザー名：<%= @user.name %></p>
      <p>Email:<%= @user.email %></p>
      <p>職業:<%= @user.occupation %></p>
      <p>目標大学：<%= @user.target_school %></p>
      <p>自己紹介:<%= @user.comment %></p>
