  <div class="methodpost_container">
    <div class="methodpost_bar">
      <p><i class="fas fa-user-graduate fa-3x"></i></p>
    </div>
    <div class="methodpost_box">
      <ul>
        <% @methodposts.each do |methodpost| %>
          <li>
          <h2><%= link_to "#{methodpost.title}", "/methodposts/#{methodpost.id}" %></h2>
            <div class="methodpost_reviewcontent">
            <div class="tag_box">
              <span><%= methodpost.subjects%></span>
            </div>
              <div class="average-score">
                <div class="star-rating">
                  <div class="star-rating-front" style="width: <%= methodpost.review_score_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display">
                  <p><%= methodpost.avg_score %>点（<%= methodpost.reviews.count %>件のレビュー）</p>
                </div>
              </div>
              <div class="methodpost_likebox">
                <%= render "methodlike/like_button" ,methodpost: methodpost%>
              </div>
            </div>
            <div class="methodpost_uer_box">
            <p>
              <% if methodpost.user.image? %>
                <%= link_to "/users/#{methodpost.user_id}" do %>
                  <%= image_tag @user.image.url,class: "methodpost_user" %>
                <% end %>
              <% else %>
                <%= link_to "/users/#{methodpost.user_id}" do %>
                  <%= image_tag '/default.png' ,class:"methodpost_user"%>
                <% end %>
              <% end %>
            <%= link_to "#{methodpost.user.name}", "/users/#{methodpost.user_id}" %>
            </p>
            <p class="created">作成日 <%= methodpost.created_at.strftime('%Y-%m-%d')%></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<p><%= link_to "勉強法投稿新規作成", new_methodpost_path %></p>