<div class="user_content">
  <div class="user_container">
    <div class="user_detail_left">
      <div class="user_detail_left_top">
        <% if @user.image? %>
                <%= image_tag @user.image.url,class: "user_image" %>
            <% else %>
                <%= image_tag '/default.png' ,class: "user_image"%>
          <% end %>
          <%@following_users = @user.followings%> 
          <%@follower_users = @user.followers%>
          <p class="user_follow_box"><%= @following_users.count %>フォロー　<%= @follower_users.count %>フォロワー</p>
          <p class="user_commentbox"><%= @user.comment %></p>
          <div class="user_info">
            <p>ユーザー名<span><%= @user.name %></span></p>
            <p>職業<span>
              <% if @user.occupation %>
                <%= @user.occupation %>
              <%else%>
               未設定
              <% end %>
            </span></p>
            <p>目標大学<span>
              <% if @user.target_school %>
                <%= @user.target_school %>大学
              <%else%>
               未設定
              <% end %>
            </span></p>
          </div>
      </div>
      <div class="user_detail_left_under">
      <div class="follow_tab-area">
        <div class="follow_tab follow_active">
          フォロー
        </div>
        <div class="follow_tab">
          フォロワー
        </div>
      </div>
      <div class="follow_content-area">
        <div class="follow_content follow_show">
          <%= render "users/follower" %>
        </div>
        <div class="follow_content">
          <%= render "users/followings" %>
        </div>
      </div>
      </div>
    </div>
    <div class="user_detail_right">
    <div class="tab-area">
      <div class="tab active">
        <p>レポート</p>
      </div>
      <div class="tab">
        <p>タイムライン</p>
      </div>
      <div class="tab">
        <p>スタディメソッド</p>
      </div>
    </div>
    <div class="content-area">
      <div class="content show">
        <%= render "users/report" %>
      </div>
      <div class="content">
        <%= render "users/timepost" %>
      </div>
      <div class="content">
        <%= render "users/methodpost" %>
      </div>
    </div>
    </div>
  </div>
</div>