<div class="user_content">
  <div class="user_container">
    <div class="user_detail_left">
      <div class="user_detail_left_top">
        <% if @user.image? %>
                <%= image_tag @user.image.url,class: "user_image" %>
            <% else %>
                <%= image_tag '/default.png' ,class: "user_image"%>
          <% end %>
          <%@following_users = @user.followings%> 
          <%@follower_users = @user.followers%>
          <p class="user_follow_box"><%= @following_users.count %>フォロー　<%= @follower_users.count %>フォロワー</p>
          <% if user_signed_in? %>
            <%= render "relationships/follow_button", user: @user %>
          <% end %>
          <p class="user_commentbox"><%= @user.comment %></p>
          <div class="user_info">
            <p>ユーザー名<span><%= @user.name %></span></p>
            <p>職業<span>
              <% if @user.occupation %>
                <%= @user.occupation %>
              <%else%>
               未設定
              <% end %>
            </span></p>
            <p>目標大学<span>
              <% if @user.target_school %>
                <%= @user.target_school %>大学
              <%else%>
               未設定
              <% end %>
            </span></p>
          </div>
      </div>
      <div class="user_detail_left_under">
      <div class="follow_tab-area">
        <div class="follow_tab follow_active">
          フォロー
        </div>
        <div class="follow_tab">
          フォロワー
        </div>
      </div>
      <div class="follow_content-area">
        <div class="follow_content follow_show">
          <%= render "users/follower" %>
        </div>
        <div class="follow_content">
          <%= render "users/followings" %>
        </div>
      </div>
      </div>
      <% if @user == current_user %>
      <div class="another_option_box">
      <h3>その他の機能</h3>
      <h4><i class="fas fa-history countdown_icon"></i>カウントダウン</h4>
      <p>大事なイベントまでの日数を表示してくれる機能です<br>
      あああああああああああああああ<br>ああああああ</p>
      <% if @user.countdown.nil? %>
       <%= link_to "使ってみる", new_countdown_path %>
      <% else %>
       <%= link_to "変更や削除はここから", edit_countdown_path ,class:"another_link_red"%>
      <% end %>
      <h4><i class="far fa-calendar-alt weekly_icon"></i>ウィークリーファイト</h4>
      <p>大事なイベントまでの日数を表示してくれる機能です<br>
      長期的な目標もあああああああああああ</p>
      <% if @user.studytime.nil? %>
       <%= link_to "使ってみる", new_studytime_path %>
      <% else %>
       <%= link_to "変更や削除はここから", edit_studytime_path ,class:"another_link_red"%>
      <% end %>
      <h4><i class="far fa-calendar-alt weekly_icon"></i>参考書登録機能です</h4>
      <p>大事なイベントまでの日数を表示してくれる機能です<br>
      長期的な目標もあああああああああああ</p>
      <%= link_to "使ってみる", books_path %>
      </div>
      <% end %>
    </div>
    <div class="user_detail_right">
    <div class="tab-area">
      <div class="tab active">
        <p>レポート</p>
      </div>
      <div class="tab">
        <p>タイムライン</p>
      </div>
      <div class="tab">
        <p>勉強法</p>
      </div>
    </div>
    <div class="content-area">
      <div class="content show">
        <%= render "users/report" %>
      </div>
      <div class="content">
        <%= render "users/timepost" %>
      </div>
      <div class="content">
        <%= render "users/methodpost" %>
      </div>
    </div>
    </div>
  </div>
</div>
<script>
$(function() {
    let tabs = $(".tab"); // tabのクラスを全て取得し、変数tabsに配列で定義
    $(".tab").on("click", function() { // tabをクリックしたらイベント発火
      $(".active").removeClass("active"); // activeクラスを消す
      $(this).addClass("active"); // クリックした箇所にactiveクラスを追加
      const index = tabs.index(this); // クリックした箇所がタブの何番目か判定し、定数indexとして定義
      $(".content").removeClass("show").eq(index).addClass("show"); // showクラスを消して、contentクラスのindex番目にshowクラスを追加
    })
})
$(function() {
  let tabs = $(".follow_tab"); // tabのクラスを全て取得し、変数tabsに配列で定義
  $(".follow_tab").on("click", function() { // tabをクリックしたらイベント発火
    $(".follow_active").removeClass("follow_active"); // activeクラスを消す
    $(this).addClass("follow_active"); // クリックした箇所にactiveクラスを追加
    const index = tabs.index(this); // クリックした箇所がタブの何番目か判定し、定数indexとして定義
    $(".follow_content").removeClass("follow_show").eq(index).addClass("follow_show"); // showクラスを消して、contentクラスのindex番目にshowクラスを追加
  })
})
</script>