<div class="sign_content">
<div class="sign_container">
<h2>ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul class="sign_ul">
      <li><%= f.email_field :email, autofocus: true, autocomplete: "email" ,:placeholder => "Email"%></li>
      <li><%= f.password_field :password, autocomplete: "current-password",:placeholder => "Password" %></li>
    </ul>
    <% if devise_mapping.rememberable? %>
    <div class="remember_box">
      <%= f.check_box :remember_me, :class => 'check_box' %>
      <%= f.label :次回から自動でログインする , :class => 'check_box_text'%>
    </div>
<% end %>
    <%= f.submit "ログイン" ,:class => 'login_submit'%>
<% end %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "login_guest" %>
</div>
</div>