<ul class="review_box">
  <% @reviews.each do |review|%>
    <li>
    <div class="review_head">
      <p class="review_user_p">
      <% if review.user.image? %>
        <%= link_to "/users/#{review.user_id}" do %>
        <%= image_tag @user.image.url,class: "review_user" %>
        <% end %>
      <% else %>
        <%= link_to "/users/#{review.user_id}" do %>
          <%= image_tag '/default.png' ,class:"review_user"%>
        <% end %>
      <% end %>
      <%= review.user.name %>
      </p>
      <div class="average-score">
        <div class="star-rating">
          <div class="star-rating-front" style="width: <%= review.get_review_score %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
      </div>
    </div>
    <p class="review_text"><%= review.text %></p>
    </li>
  <% end %>
</ul>