<%= javascript_pack_tag 'application' %>
<div class="methodpost_detail_content">
<div class="methodpost_detail_box">
  <div class="methodpost_detail_container_left">
    <h2><%= @methodpost.title %></h2>
    <p class="detail_text"><%= @methodpost.content %></p>
      <h3>レビュー一覧</h3>
      <%= render "reviews/review_list" %>
      <%= render "reviews/review_form" , review: @review, methodpost: @methodpost%>
  </div>
  <div class="methodpost_detail_container_right">
    <p class="detail_user_box">
      <% if @methodpost.user.image? %>
        <%= link_to "/users/#{methodpost.user_id}" do %>
        <%= image_tag @user.image.url,class: "methodpost_user" %>
        <% end %>
      <% else %>
        <%= link_to "/users/#{@methodpost.user_id}" do %>
          <%= image_tag '/default.png' ,class:"methodpost_user"%>
        <% end %>
      <% end %>
      <span class="user_name"><%= link_to "#{@methodpost.user.name}", "/users/#{@methodpost.user_id}" %></span>
    </p>
    <ul>
      <li>
        <span><i class="fas fa-clock fa-lg"></i>作成日</span>
        <p>作成日 <%= @methodpost.created_at.strftime('%Y-%m-%d')%></p>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
  </div>
</div>
<p></p>
<p><%= @methodpost.subjects %></p>
<% if user_signed_in? %>
      <% @methodlikes_count = MethodLike.where(methodpost_id: @methodpost.id).count %>
      <% if @methodlike = MethodLike.find_by(user_id: current_user.id, methodpost_id: @methodpost.id) %>
        <%= button_to  "/methodposts/#{@methodpost.id}/methodlike/#{@methodlike.id}", method: :delete do %>
          <i class="fas fa-heart like-btn-unlike"><%= @methodlikes_count %>いいね</i>
        <% end %>
      <% else %>
          <%= button_to  "/methodposts/#{@methodpost.id}/methodlike", method: :post do %>
            <i class="fas fa-heart like-btn"><%= @methodlikes_count %>いいね</i>
          <% end %>
      <% end %>
<% end %>
    <span class="created">作成日 <%= @methodpost.created_at.strftime('%Y-%m-%d')%></span>