<%= javascript_pack_tag 'application' %>
<div class="methodpost_detail_content">
<div class="methodpost_detail_box">
  <div class="methodpost_detail_container_left">
    <div class="detail_left_top">
      <span id="tab_span"><%= @methodpost.subjects%></span>
      <div class="edit_box">
        <%= link_to "投稿編集", "/methodposts/#{@methodpost.id}/edit"%>
        <%= button_to "投稿削除", "/methodposts/#{@methodpost.id}", method: :delete,data: { confirm: "本当に削除しますか?" } %>
      </div>
    </div>
    <h2><%= @methodpost.title %></h2>
    <p class="detail_text"><%= @methodpost.content %></p>
      <h3>レビュー一覧</h3>
      <%= render "reviews/review_list" %>
      <%= render "reviews/review_form" , review: @review, methodpost: @methodpost%>
  </div>
  <div class="methodpost_detail_container_right">
    <h3>投稿者情報</h3>
    <p class="detail_user_box">
      <% if @methodpost.user.image? %>
        <%= link_to "/users/#{methodpost.user_id}" do %>
        <%= image_tag @user.image.url,class: "methodpost_user" %>
        <% end %>
      <% else %>
        <%= link_to "/users/#{@methodpost.user_id}" do %>
          <%= image_tag '/default.png' ,class:"methodpost_user"%>
        <% end %>
      <% end %>
    </p>
    <span class="user_name"><%= link_to "#{@methodpost.user.name}", "/users/#{@methodpost.user_id}" %></span>
    <%@following_users = @methodpost.user.followings%> 
    <%@follower_users = @methodpost.user.followers%>
    <p class="user_follow_p"><%= @following_users.count %>フォロー　<%= @follower_users.count %>フォロワー</p>
    <% if user_signed_in? %>
            <%= render "relationships/follow_button", user: @methodpost.user %>
    <% end %>
    <h3>投稿情報</h3>
    <ul>
      <li>グッド数(<%= @methodlikes_count %>)</li>
      <li>レビュー数(<%= @methodpost.reviews.count %>)</span></li>
      <li>作成日 <span><%= @methodpost.created_at.strftime('%Y-%m-%d')%></span></li>
      <li>更新日 <span><%= @methodpost.updated_at.strftime('%Y-%m-%d')%></span></li>
    </ul>
  </div>
  </div>
</div>