<ul class="header_left">
      <li id="logo">ALNFIEH</li>
      <li><%= link_to "タイムライン", timeposts_path %></li>
      <li><%= link_to "記録", new_timepost_path %></li>
      <li><%= link_to "おすすめ勉強方法", methodposts_path %></li>
      <li><%= link_to "ホーム", root_path %></li>
  </ul>
  <div class="header_right">
    <% if current_user.image? %>
        <%= image_tag @user.image.url,class: "icon_image" %>
    <% else %>
        <%= image_tag '/default.png' ,class:"user_icon"%>
    <% end %>
      <div class="dropdown">
        <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete,class:"dropdown-item" %> </li>
          <li><%= link_to "基本情報編集", edit_user_registration_path,class:"dropdown-item" %></li>
          <li><a class="dropdown-item" href="#">マイページ</a></li>
        </ul>
      </div>
      
</div>