<ul class="header_left">
  <li id="logo">ALNFIEH</li>
  <li><%= link_to "タイムライン", timeposts_path %></li>
  <li><%= link_to "記録", new_timepost_path %></li>
  <li><%= link_to "おすすめ勉強方法", methodposts_path %></li>
  <li><%= link_to "ホーム", root_path %></li>
</ul>
<div class="header_right">
  <ul id="button_ul">
    <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
    <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
  </ul>
  <%= image_tag '/default.png' ,class:"user_icon" %>
</div>